/* import font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* body styles */
body{
    background-color: lightblue;
    color: black;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: larger;
}

/* general styles */
.brown-bg{
    background-color: rgb(228, 183, 99);
}

#treeLogo{
    border-radius: 30%;
}

.search-bar{
    padding-top: 50px;
}

#formGroup{
    text-align: center;
    margin: 10px;

}

#resultContainer{
    width: 100%;
    height: 100%;
}

#resultImage{
    padding-top: 100px;
}
/* bottom styles */
.myFooter{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#extraSpace{
    padding: 140px;
}
/* Table styles */
.park-table td{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border: solid;
}

.park-table th{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border: solid;

}